
Aseprite/ascii.png
Aseprite/barrack_interior.aseprite
Aseprite/camp_1.png
Aseprite/camp_1.tmx
Aseprite/camp_2.png
Aseprite/camp_2.tmx
Aseprite/camp_3.png
Aseprite/camp_3.tmx
Aseprite/camp_4.png
Aseprite/camp_4.tmx
Aseprite/camp_5.png
Aseprite/camp_5.tmx
Aseprite/camp_6.png
Aseprite/camp_6.tmx
Aseprite/Ceasar.aseprite
Aseprite/doctor_1.aseprite
Aseprite/Enemy.png
Aseprite/Fence.png
Aseprite/Spritesheet_01.aseprite
Aseprite/Spritesheet_01.png
Aseprite/Spritesheet_01.tsx
Aseprite/Train.png
Aseprite/workshop-interior.aseprite
Examples/movement based day night/assets/backgrounds/placeholder night.png
Examples/movement based day night/assets/backgrounds/placeholder.png
Examples/movement based day night/assets/music/template.mod
Examples/movement based day night/assets/sprites/actor.png
Examples/movement based day night/assets/sprites/actor_animated.png
Examples/movement based day night/assets/sprites/static.png
Examples/movement based day night/assets/ui/ascii.png
Examples/movement based day night/assets/ui/cursor.png
Examples/movement based day night/assets/ui/emotes.png
Examples/movement based day night/assets/ui/frame.png
Examples/movement based day night/movement based day night.gbsproj
Examples/ReactionTest
Examples/Real Time Combat 1.1.0/1.1.0/assets/backgrounds/outside.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/backgrounds/placeholder.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/music/template.mod
Examples/Real Time Combat 1.1.0/1.1.0/assets/sprites/actor.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/sprites/actor_animated.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/sprites/player.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/sprites/sword.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/ui/ascii.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/ui/cursor.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/ui/emotes.png
Examples/Real Time Combat 1.1.0/1.1.0/assets/ui/frame.png
Examples/Real Time Combat 1.1.0/1.1.0/Real Time Combat 1.1.0.gbsproj
Examples/Real Time Combat 1.1.0/documentation-1.1.0-4.pdf
gb-studio-palette.aseprite
References/NPCSpritesheet.png
References/NPCSpritesheet2.png
References/NPCSpritesheet3.png
References/WorldSpritesheet.png
Software/Akurra 2.02 Demo.zip
Software/Akurra 2.02 Demo/Akurra.exe
Software/Akurra 2.02 Demo/data.win
Software/Akurra 2.02 Demo/game_data.ini
Software/Akurra 2.02 Demo/options.ini
Software/Deadeus - Regular Edition.zip
Software/gb-studio-master-windows_x86_64-squirrel/GB Studio-1.2.1 Setup.exe
Software/gb-studio-master-windows_x86_64-squirrel/gb_studio-1.2.1-full.nupkg
Software/gb-studio-master-windows_x86_64-squirrel/RELEASES
Software/Pokemon - Gold Version (UE) [C][!].sav
Software/Pokemon - Gold Version (UE) [C][!].zip
Software/Pokemon - Gold Version (UE) [C][!]1.sgm
Software/Pokemon - Red Version (UE)[!].sav
Software/Pokemon - Red Version (UE)[!].zip
Software/Pokemon - Red Version (UE)[!]1.sgm
Software/StarFoxGrounded/GBstudio.zip
Software/StarFoxGrounded/README.txt
Software/StarFoxGrounded/StarFoxG.sav
Software/StarFoxGrounded/StarFoxG.zip
Software/StarFoxGrounded/StarFoxG1.sgm
Software/Tiled-1.3.2-win64.msi
Software/VisualBoyAdvance-1.8.0-beta3/COPYING
Software/VisualBoyAdvance-1.8.0-beta3/vba.ini
Software/VisualBoyAdvance-1.8.0-beta3/VisualBoyAdvance.exe
Teddy/assets/backgrounds/Barracks.png
Teddy/assets/backgrounds/cave.png
Teddy/assets/backgrounds/house.png
Teddy/assets/backgrounds/Items.aseprite
Teddy/assets/backgrounds/Items.png
Teddy/assets/backgrounds/logo.png
Teddy/assets/backgrounds/menu.png
Teddy/assets/backgrounds/MenuItems_Placeholder.png
Teddy/assets/backgrounds/MenuPlaceholder.png
Teddy/assets/backgrounds/MenuStats_Placeholder.aseprite
Teddy/assets/backgrounds/MenuStats_Placeholder.png
Teddy/assets/backgrounds/outside.png
Teddy/assets/backgrounds/stars.png
Teddy/assets/backgrounds/titlescreen.png
Teddy/assets/backgrounds/Train.png
Teddy/assets/backgrounds/underground.png
Teddy/assets/music/template.mod
Teddy/assets/sprites/cat.png
Teddy/assets/sprites/checkbox.png
Teddy/assets/sprites/dog.png
Teddy/assets/sprites/duck.png
Teddy/assets/sprites/Enemy.png
Teddy/assets/sprites/fire.png
Teddy/assets/sprites/heart.png
Teddy/assets/sprites/ice.png
Teddy/assets/sprites/Items.png
Teddy/assets/sprites/MenuArrow.png
Teddy/assets/sprites/npc001.png
Teddy/assets/sprites/npc002.png
Teddy/assets/sprites/npc003.png
Teddy/assets/sprites/player.png
Teddy/assets/sprites/radio.png
Teddy/assets/sprites/rock.png
Teddy/assets/sprites/sage.png
Teddy/assets/sprites/savepoint.png
Teddy/assets/sprites/signpost.png
Teddy/assets/sprites/torch.png
Teddy/assets/ui/ascii.png
Teddy/assets/ui/cursor.png
Teddy/assets/ui/emotes.png
Teddy/assets/ui/frame.png
Teddy/Teddy.gbsproj
Teddy/Teddy.gbsproj.bak
Software/Pokemon - Gold Version (UE) [C][!].sav
Software/Pokemon - Gold Version (UE) [C][!].zip
Software/Pokemon - Gold Version (UE) [C][!]1.sgm
Software/Pokemon - Red Version (UE)[!].sav
Software/Pokemon - Red Version (UE)[!].zip
Software/Pokemon - Red Version (UE)[!]1.sgm
Software/Pokemon - Gold Version (UE) [C][!].sav
Software/Pokemon - Gold Version (UE) [C][!].zip
Software/Pokemon - Gold Version (UE) [C][!]1.sgm
Software/Pokemon - Red Version (UE)[!].sav
Software/Pokemon - Red Version (UE)[!].zip
Software/Pokemon - Red Version (UE)[!]1.sgm
*.sgm
*.zip
Software/Pokemon - Gold Version (UE) [C][!].sav
Software/Pokemon - Red Version (UE)[!].sav
*.sav
